@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
      text-decoration: none;
}

/* - WIDELY USED CLASSESS - */
.main-header {
      font-size: 2.75rem;
      color: rgb(255, 205, 0);
}
/* - WIDELY USED CLASSESS - */

body {
      max-width: 1080px;
      margin-left: auto;
      margin-right: auto;
      background-image: url("IMAGES/LOGO/Background.png");
}

header {
      padding: 20px;
      background-color: rgb(76, 76, 76);
      border-bottom: 1px solid rgb(90, 90, 90);
      display: flex;
      justify-content: space-between;
      align-self: center;

}

header a {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
}

header img {
      margin-right: 30px;
}

main {
      padding: 20px;
      background-color: rgb(76, 76, 76);
      border-bottom: 1px solid rgb(90, 90, 90);
}

.electronics-or-operatingsystems-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.electronics-or-operatingsystems-div a {
      width: 50%;
}

.electronics-or-operatingsystems-div div {
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(255, 205, 0);
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      border: 1px solid rgb(255, 205, 0);
      transition: all ease 0.25s;
}

.electronics-or-operatingsystems-div div:hover {
      transform: scale(1.015);
      transition: all ease 0.25s;
      background-color: rgba(0, 0, 0, 0.25);
      font-size: 1.15rem;
      box-shadow: 0px 0px 10px 1px rgb(255, 205, 0);
}

.electronics-or-operatingsystems-div .os-part-div {
      margin-right: 10px;
}

.electronics-or-operatingsystems-div .electronics-part-div {
      margin-left: 10px;
}

.subjects-div h1 {
      color: rgb(255, 205, 0);
}

.subjects-div a {
      text-decoration: underline 2px dotted rgb(255, 205, 0) !important;
      display: flex;
      justify-content: flex-start;
      align-items: center;
}

.subjects-div a img {
      margin-right: 20px;
      margin-bottom: 12px;
}

.subjects-div a h1 {
      margin-bottom: 12px;
}

.subject-container-div {
      margin-bottom: 32px;
}

.subjects-div h1 {
      margin-bottom: 12px;      
}

.subjects-div p {
      color: rgb(192, 192, 192);
      margin-bottom: 12px;
}

.round-change-a {
      width: 60px;
      height: 60px;
      border-radius: 999px;
      background-color: rgb(255, 205, 0);
      color: white;
      padding: 20px;
      font-weight: bold;
      box-shadow: 0px 0px 10px 1px rgb(255, 205, 0);
      transition: all ease 0.25s;
}

.round-change-a:hover {
      transform: scale(1.1);
      transition: all ease 0.25s;
}

footer {
      padding: 20px;
      background-color: rgb(76, 76, 76);
      display: flex;
      justify-content: center;
      align-items: center;
}